body {
    margin: 0;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    
}

.left-side {
    --container-width: 40vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--container-width);
    height: 100vh;
    background-image: url("images/background.jpeg");
    background-repeat: no-repeat;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 20vh;
    font-size: 80px;
    gap:20px;
    background-color: rgba(0, 0, 0, 0.5);
    width: var(--container-width);
}

.credits {
    color: white;
    position: absolute;
    bottom: 20px;
}

.credits a {
    color: inherit;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aliceblue;
    height: 100vh;
}


form {
    background-color: antiquewhite;
    padding: 20px 40px;
    margin-top: 40px;
}


label {
    color: rgb(60, 60, 60);
    font-size: 14px;
}

.input {
    width: 200px;
    padding: 10px 0px;
    padding-right: 5vw;
}

input {
    padding: 4px;
    border: 1px solid blue;
    border-radius: 4px;
}


#form > div {
    display: flex;
    flex-wrap: wrap;
}

.sign-up {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 40px;
}

.sign-up a {
    text-decoration: none;
    font-weight: bold;
}


button {
    margin-bottom: 20px;
}

 .right-side p {
     font-size: 20px;
     font-weight: bold;
     padding-left: 40px;
 }

 form span {
     font-size: 24px;
     font-weight: bold;
     width: 100%;
 }

 








