@font-face {
    font-family: 'cyberpunksitalic';
    src: url('fonts/cyberpunks_italic-webfont.woff2') format('woff2'),
         url('fonts/cyberpunks_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: rgb(219, 219, 219);
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    
}

.left-side {
    --container-width: 40vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--container-width);
    height: 100vh;
    background-image: url("images/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'cyberpunksitalic';
    margin-top: 16vh;
    font-size: 75px;
    gap:20px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px 0px;
    width: var(--container-width);
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0e0b16;
    height: 100vh;
}

form {
    display: flex;
    flex-wrap: wrap;
    background-color: #2a1b3d;
    padding: 20px 40px;
    padding-right: 0;
    margin-top: 40px;
    box-shadow: #44318d66 0px 5px, #44318d4d 0px 10px, #44318d66 0px -5px, #44318d4d 0px -10px;
}

form span {
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    padding-bottom: 10px;
}

label {
    color: #ffffff;
    font-size: 12px;
    padding: 4px 0px;
}

.input {
    display: flex;
    flex-direction: column;
    padding: 13px 0px;
    padding-right: 5vw;
}

.input:nth-child(odd) {
    margin-right: min(500px, 5vw);
}

input {
    width: max(13vw, 200px);
    padding: 6px;
    border: 4px solid white;
    border-radius: 8px;
}

input:focus {
    border-color: #d061e7;
}

input:focus:valid {
    border-color: #00e6fd;
}

input:valid + span::before {
    font-size: 18px;
    position: absolute;
    content: "✓";
    color: rgb(14, 216, 14);
    top: -25px;
    left: calc(max(13vw, 200px) + 25px);
}

input + span {
    position: relative;
}

.sign-up {
    margin-top: 20px;
    padding-left: 40px;
}

.sign-up a {
    text-decoration: none;
    font-weight: bold;
    color: #a239ca;
}

.right-side p {
    font-size: 20px;
    font-weight: bold;
    padding-left: 40px;
    padding-right: 10vw;
}

.button {
    background-image: linear-gradient(160deg, #4717f6, #44318d 50%,#a239ca);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    color: #FFFFFF;
    display: flex;
    font-size: 20px;
    font-weight: 800;
    padding: 3px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 25px;
}

.button span {
    background-color: rgb(18, 1, 32);
    padding: 16px 24px;
    border-radius: 6px;
    transition: 300ms;
}

.button:hover span {
    background: none;
}

textarea:focus, input:focus{
    outline: none;
}